@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/clash-display?styles=106284');
body{
  background-color: #004DB3;
  /* font-family: satoshi; */
}
.light-blue-color{
  color: #AAC4E6;
}
.deep-blue-color {
  color: #004DB3;
  /* padding: 16px, 32px, 16px, 32px; */
}
.main-section-text {
  font-family: 'Clash Display', sans-serif;
  /* font-weight: 900; */
  max-width: 698px;
  font-weight: 700;
font-size: 64px;
color: white;
line-height: 82px;
                                                
}

.main-sub-section-text {
  font-family: 'Satoshi';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
color: white;
}
.pictures {
    margin-left: -16px;
    width: 36px;
    height: 33.55px;
  }
  .high-quality {
    /* font-family: Clash Display; */
    /* height: 140px; */
max-width: 694px;
font-size: 56px;
font-weight: 700;
line-height: 70px;
letter-spacing: 0em;
text-align: left;

  }
  .high-quality-text{
    
max-width: 604px;
/* height: 84px; */

/* font-family: 'Satoshi'; */
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 28px;
/* or 175% */

text-transform: capitalize;

color: #A2A2A2;
  }